@model WebSach.Models.BooksViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DoAn</title>
    <link rel="shortcut icon" href="~/Images/shortcuticon.png" type="image/png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="chrome-extension://gobpkdmjnhpopmpddhmhmbhkiienpfdo/css/translate_popup.css" />
    <link rel="stylesheet" href="~/CSS/StyleSheet2.css" type="text/css" />
    <link rel="stylesheet" href="~/CSS/media.css" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="content">
        <div class="div_middle">
            <div id="story-reading">
                <div id="funbar" class="clearfix">
                    <div id="funbar-story" class="dropdown">
                        <button id="funbar-part-details" class="btn btn-toc dropdown-toggle" data-toggle="dropdown">
                            <span class="cover">
                                <imng src="@Model.book.Avatar" alt="@Model.book.Title"></imng>
                            </span>
                            <span class="info">
                                <h2 class="title">@Model.book.Title</h2>
                            </span>
                            <span class="fa-caret-down" aria-hidden="true">
                            </span>
                        </button>
                        <div class="dropdown-menu pull-left">
                            <div class="toc-header text-center">
                                <h6>
                                    <a class="on-navigate" href="@Url.Action("Index","Books", new { id = Model.book.Book_Id })">@Model.book.Title</a>
                                </h6>
                                <small>Bảng mục lục</small>
                            </div>
                            <ul class="table-of-contents">
                                @foreach (var item in Model.Chapters)
                                {
                                    <li>
                                        <a class="on-navigate" href="@Url.Action("Chapter","Books", new { bookid = Model.book.Book_Id, id = item.Chapter_Id })">
                                            <div class="part-title">
                                                @item.Chapter_Name
                                            </div>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
