@model WebSach.Models.BooksViewModel

@{
    ViewBag.Title = @Model.book.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="div_middle">
    <div class="main_content">
        <div class="book_detail">
            <div class="book_info">
                <div class="book_avatar" itemtype="https://schema.org/ImageObject">
                    <img itemprop="image" alt="@Model.book.Title" src="@Model.book.Avatar" />
                </div>
                <div class="book_other" itemscope itemtype="http://schema.org/Book">
                    <h1 itemprop="name">@Model.book.Title</h1>
                    <div class="txt">
                        <ul class="list-info">
                            <li class="author row">
                                <p class="name col-xs-3">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    Tác giả
                                </p>
                                <p class="col-xs-9">@Model.book.Author</p>
                            </li>
                            <li class="row">
                                <p class="name col-xs-3">
                                    <i class="fa fa-eye">
                                    </i>
                                    Luợt xem
                                </p>
                                <p class="col-xs-9">@Model.book.View</p>
                            </li>
                        </ul>
                    </div>
                    <ul class="list01">
                        <li>
                            <a href="@Url.Action("Index","Home",new { type = @Model.book.Categories.Category_Id})">@Model.book.Categories.Category_Name</a>
                        </li>
                    </ul>
                    <ul class="story-detail-menu">
                        @if (Model.Chapters.Count() != 0)
                        {
                            <li>
                                <a href="@Url.Action("Chapter","Books", new { bookid = @Model.book.Book_Id, id = @Model.Chapters.Min(c=>c.Chapter_Id)})" class="button is-danger is-rounded">Đọc từ đầu</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Chapter","Books", new { bookid = @Model.book.Book_Id, id = @Model.Chapters.Max(c=>c.Chapter_Id)})" class="button is-danger is-rounded">Đọc mới nhất</a>
                            </li>
                        }

                        @if (Session["UserName"] != null)
                        {
                            if (Model.chapterid != null)
                            {
                                <li>
                                    <a href="@Url.Action("Chapter","Books", new { bookid = @Model.book.Book_Id, id = Model.chapterid})" class="button is-danger is-rounded">Đọc tiếp</a>
                                </li>
                            }
                            if (!Model.book.isFollowing)
                            {
                                <li>
                                    <a id="follow" href="@Url.Action("Follow","Books", new { bookId = Model.book.Book_Id})" class="button is-danger is-rounded">Theo dõi</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="@Url.Action("Follow","Books", new { bookId = Model.book.Book_Id})" class="button is-danger is-rounded">Đang theo dõi</a>
                                </li>
                            }
                        }

                        @*@Html.Action("follow", "Books", new { bookId = Model.book.Book_Id});*@

                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <h3>
                <i class="fa fa-info">
                </i>
                Giới thiệu
            </h3>
            <div class="story-detail-info detail-content">
                <p>
                    @Model.book.Description
                </p>
            </div>
            <h3>
                <i class="fa fa-database" aria-hidden="true">
                </i>
                Danh sách chương
            </h3>
            <div class="list_chapter">
                <div class="works-chapter-list">
                    @foreach (var c in Model.Chapters)
                    {
                        <div class="works-chapter-item">
                            <div class="col-md-10 col-sm-10 col-xs-8 name-chap">
                                <a href="@Url.Action("Chapter","Books", new { @id = c.Chapter_Id, @bookid = c.Book_Id })">@c.Chapter_Name</a>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-4 time-chap"></div>
                        </div>
                    }
                </div>
            </div>
            <div class="comment-container" id="comment_list">
                <span class="story-detail-title">
                    <i class="fa fa-comment"></i>
                    Bình luận
                </span><div id="fb-root"></div>
                <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v16.0&appId=1408243946596240&autoLogAppEvents=1" nonce="v2gHRfy3"></script>
                <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="1500" data-numposts="5"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#follow").click(function (e) {
        alert("clicked");
        e.preventDefault();
        $.ajax({
            url: $(this).attr("href"), // comma here instead of semicolon
            success: function () {
                alert("Value Added");  // or any other indication if you want to show
            }

        });

    });
</script>