@using WebSach.Models;
@model WebSach.Models.BooksViewModel

@{
    ViewBag.Title = @Model.books.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="div_middle">
    <div class="main_content">
        <div class="book_detail">
            <div class="book_info">
                <div class="book_avatar" itemtype="https://schema.org/ImageObject">
                    <img itemprop="image" alt="@Model.books.Title" src="~/Images/Books/@Model.books.Avatar" />
                </div>
                <div class="book_other" itemscope itemtype="http://schema.org/Book">
                    <h1 itemprop="name">@Model.books.Title</h1>
                    <div class="txt">
                        <ul class="list-info">
                            <li class="author row">
                                <p class="name col-xs-3">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    Tác giả
                                </p>
                                <p class="col-xs-9">@Model.books.Author</p>
                            </li>
                            <li class="row">
                                <p class="name col-xs-3">
                                    <i class="fa fa-eye">
                                    </i>
                                    Luợt xem
                                </p>
                                <p class="col-xs-9">@Model.books.View</p>
                            </li>
                        </ul>
                    </div>
                    <ul class="list01">
                        <li>
                            <a href="@Url.Action("The-Loai","Home",new { id = @Model.books.Categories.Category_Name})">@Model.books.Categories.Category_Name</a>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <h3>
                <i class="fa fa-info">
                </i>
                Giới thiệu
            </h3>
            <div class="story-detail-info detail-content">
                <p>
                    @Model.books.Description
                </p>
            </div>
            <h3>
                <i class="fa fa-database" aria-hidden="true">
                </i>
                Danh sách chương
            </h3>
            <div class="list_chapter">
                <div class="works-chapter-list">
                    @foreach (Chapter c in Model.Chapters)
                    {
                        <div class="works-chapter-item">
                            <div class="col-md-10 col-sm-10 col-xs-8 name-chap">
                                <a href="@Url.Action("Chapter","Books", new { @id = c.Chapter_Id, @bookid = @c.Book_Id })" >@c.Chapter_Name</a>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-4 time-chap"></div>
                        </div>
                    }
                </div>
            </div>
            <div class="comment-container" id="comment_list">
                <span class="story-detail-title">
                    <i class="fa fa-comment"></i>
                    Bình luận (@Model.Comments.Count())
                </span>
                <div class="group01 comment-container">
                </div>
            </div>
        </div>
    </div>
</div>